In [1]:
import numpy as np
import pandas as pd

In [14]:
df1=pd.read_excel("Locations and Headcount.xlsx")
df1.drop_duplicates(subset ="LocationCity",inplace=True)

In [15]:
df1

         Area Geo Region             Geo Country LocationCity  Head Count
0    Americas        BBC                 Bahamas       Nassau          10
1    Americas        BBC                 Bermuda     Hamilton          20
2    Americas        BBC  British Virgin Islands    Road Town          30
3    Americas        BBC          Cayman Islands  George Town          40
4    Americas     Canada                  Canada      Calgary          50
..        ...        ...                     ...          ...         ...
766     EMEIA        WEM             Netherlands      Utrecht        5670
767     EMEIA        WEM             Netherlands        Venlo        5680
768     EMEIA        WEM             Netherlands       Zwolle        5690
769     EMEIA        WEM                 Senegal        Dakar        5700
771     EMEIA        WEM                 Tunisia        Tunis        5720

[669 rows x 5 columns]

In [30]:
cities=list(df1["LocationCity"])
countries=list(df1.drop_duplicates(subset ="Geo Country")["Geo Country"])
geoRegion=list(df1.drop_duplicates(subset ="Geo Region")["Geo Region"])
area=list(df1.drop_duplicates(subset ="Area")["Area"])

In [34]:
countByCountry=df1.groupby(["Geo Country"]).sum()